<ion-header>
  <ion-toolbar color = "primary">
    <ion-title >Pulse oxymeter</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/history']" >History</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-md= "6" offset-md= "3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Test</ion-card-title>
            </ion-card-header>
            <ion-item>
              
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand = "full">Start</ion-button>
  </ion-content>